@charset "UTF-8";
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0px;
  overflow-x: hidden;
}
body.overflow {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
  padding: 0px 15px;
}
.container.small_container {
  max-width: 870px;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0px 16px;
  }
}
h1 {
  font-size: 38px;
  font-weight: 400;
}

h2 {
  font-size: 38px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}

h3 {
  font-size: 35px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}

h4 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
}

h5 {
  font-size: 24px;
  font-weight: 400;
}

h6 {
  font-size: 22px;
  font-weight: 400;
}

p {
  color: #000;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}

a {
  text-decoration: none;
}

::-moz-placeholder {
  color: #000;
  font-weight: 400;
  font-size: 22px;
  opacity: 1;
  font-family: "Noto Sans", sans-serif;
}

::placeholder {
  color: #000;
  font-weight: 400;
  font-size: 22px;
  opacity: 1;
  font-family: "Noto Sans", sans-serif;
}

input:not([type=submit]),
textarea {
  background: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: #000;
  transition: all ease 0.3s;
  border: 0px;
  font-weight: 300;
  width: 100%;
  padding: 13px 15px;
}
input:not([type=submit]):focus,
textarea:focus {
  outline: 0px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-size: 24px;
  letter-spacing: 0.01em;
  color: #000;
}

textarea {
  height: 200px;
  resize: vertical;
}

.btn {
  font-size: 14px;
  line-height: normal;
  color: #f0a604;
  text-decoration: none;
  transition: all ease 0.2s;
  text-transform: capitalize;
  padding: 17px 50px;
  text-align: center;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}
.btn i {
  margin-left: 5px;
  font-size: 14px;
}
.btn-primary {
  background-color: #f0a604;
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}
.btn-outline:hover {
  background-color: #000;
  color: #fff;
}

.overflow-hidden {
  overflow: hidden;
}

.wpcf7-spinner {
  display: none;
}
.wpcf7-spinner[style="visibility: visible;"] {
  display: inline-block;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

::-moz-selection {
  background-color: #f0a604;
  color: #fff;
}

::selection {
  background-color: #f0a604;
  color: #fff;
}

::-moz-selection {
  background-color: #f0a604;
  color: #fff;
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    translate: -20%;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    translate: 0 20%;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}
:root {
  --themecolor: #f0a604;
  --ThemeDarkColor: #3E4542;
  --ThemeDarkColorContrast:#353b41;
  --ThemeLightColor:rgb(241, 245, 230, 0.5);
  --ThemeHoverColor: #597f00;
  --themebannertitle: #AAC17E;
  --bgthemelightcolor:#f1f5e6;
}

body.tc {
  background-color: var(--themecolor);
}

.mini_header {
  background-color: #f0f1f3;
}
.mini_header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}
.mini_header ul li {
  padding: 0.25em;
  margin-left: 24px;
}
.mini_header ul li a {
  font-size: 14px;
  color: #000;
  line-height: 30px;
}

header {
  position: relative;
  z-index: 1;
}
header .container {
  display: flex;
  align-items: center;
}
header .logo {
  margin-right: auto;
  height: 40px;
  width: 163px;
  display: flex;
  align-items: center;
  max-width: -moz-max-content;
  max-width: max-content;
}
header .logo a {
  display: block;
  line-height: 11px;
}
header .navbar nav {
  margin-left: auto;
}
header .navbar nav ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}
header .navbar nav ul li {
  margin-right: 32px;
  position: relative;
  height: 105px;
  text-align: center;
  display: flex;
  align-items: center;
}
header .navbar nav ul li.btn a {
  margin: 0px 0px 0px 6px;
  border: 1px solid var(--themecolor);
  padding: 5px 17px;
  border-radius: 50px;
  color: #fff;
}
header .navbar nav ul li.btn a:hover {
  background: var(--themecolor);
  color: #fff;
}
header .navbar nav ul li a {
  font-size: 14px;
  color: #000;
  transition: all ease 0.3s;
  font-weight: 400;
  transition: color 0.4s ease-in-out;
}
header .navbar nav ul li a .arrow {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0px;
  top: 3px;
  cursor: pointer;
  background: url(../../img/down.png) right -5px top -3px no-repeat;
}
header .navbar nav ul li a:hover {
  color: var(--ThemeHoverColor);
}
header .navbar nav ul .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 240px;
  background: var(--themecolor);
  flex-wrap: wrap;
  z-index: 1111;
  padding: 28px 0px 0px;
}
header .navbar nav ul .sub-menu li {
  padding: 0px 0px;
  margin: 0px;
}
header .navbar nav ul .sub-menu li a {
  font-size: 16px;
  padding: 10px 18px;
  display: block;
  position: relative;
  font-weight: 300;
  font-style: normal;
}
header .navbar nav ul .sub-menu li:last-child a {
  border-bottom: 0px;
}
header .navbar nav ul .sub-menu .sub-menu {
  padding: 0;
  position: relative;
  width: auto;
}
header .navbar nav ul .sub-menu .sub-menu li a {
  font-size: 14px;
  padding-left: 25px;
}
header .navbar nav ul .sub-menu.show {
  display: block;
}
header .navbar nav ul li.menu-item-has-children {
  position: relative;
  background-size: 12px;
}
header .navbar nav ul li.menu-item-has-children .sub-menu li {
  background-color: var(--themecolor);
  width: 100%;
  padding: 5px;
}
header .navbar nav ul li.menu-item-has-children .sub-menu .menu-item-has-children {
  background-image: none;
}
header .navbar nav ul li.menu-item-has-children .sub-menu .menu-item-has-children:hover {
  background-image: none;
}
header .navbar nav ul li.menu-item-has-children .sub-menu .sub-menu {
  margin-left: 0px;
  padding: 0;
  position: relative;
  width: auto;
  display: none;
}
header .navbar nav ul li.menu-item-has-children:hover > .sub-menu {
  display: block;
}
header .rightbtn a {
  background-color: var(--themecolor);
  color: #fff;
  border: 1px solid;
  border-color: transparent;
  padding: 12px 22px;
  border-radius: 12px;
  line-height: 16.8px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  align-items: center;
  display: flex;
  text-decoration: none;
  word-break: break-word;
  font-weight: 600;
  font-size: 14px;
}
header .rightbtn a::after {
  content: "";
  width: 13px;
  height: 12px;
  background: url(./../../img/right-arrow.png) no-repeat center;
  background-size: contain;
  margin-left: 8px;
  position: relative;
}
header .rightbtn a:hover {
  background-color: var(--ThemeHoverColor);
}

.navbarmenu {
  display: none;
}

.mobile-overlay {
  display: none;
  top: 38px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #3c3c3c;
  z-index: 0;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.mobile-overlay.active {
  display: block;
}

.mobile_img {
  display: none;
}

.w-100 {
  width: 100% !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.align-items-center {
  align-items: center !important;
}

.main_banner {
  min-height: 500px;
  padding: 72px 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.main_banner img {
  -o-object-position: 80% 0%;
     object-position: 80% 0%;
  height: 100%;
  max-height: none;
  max-width: none;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
.main_banner .container {
  width: 100%;
}
.main_banner .content {
  max-width: 632px;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  padding-right: 96px;
  padding-left: 64px;
  padding-bottom: 64px;
  padding-top: 64px;
  box-sizing: border-box;
  position: relative;
}
.main_banner .content h1 {
  font-size: 52px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  letter-spacing: -0.02em;
}
.main_banner .content h1 sup {
  font-size: 0.7em;
}
.main_banner .content p {
  font-size: 16px;
  margin: 0;
}
.main_banner .biginner {
  max-width: 728px;
  width: 100%;
  z-index: 2;
  position: relative;
  color: #fff;
}
.main_banner .biginner .breadcrumb_ {
  margin-bottom: 56px;
}
.main_banner .biginner .breadcrumb_ .list {
  display: flex;
  flex-wrap: wrap;
}
.main_banner .biginner .breadcrumb_ .list span {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}
.main_banner .biginner .breadcrumb_ .list span a {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}
.main_banner .biginner .breadcrumb_ .list span::after {
  content: "";
  font-size: 1em;
  margin: 0 5px;
  position: relative;
  width: 13px;
  height: 9px;
  background: url(./../../img/right-arrow-white.png) no-repeat center;
  background-size: contain;
  display: inline-block;
}
.main_banner .biginner .breadcrumb_ .list span:last-child::after {
  display: none;
}
.main_banner .biginner .sub_head h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 16px;
  color: currentColor;
}
.main_banner .biginner h1 {
  margin: 0;
  margin-bottom: 32px;
  word-break: break-word;
  line-height: 1.2;
  font-size: 52px;
  font-weight: 600;
  letter-spacing: -0.02em;
}
.main_banner .biginner .data_detail {
  display: grid;
  grid-template-columns: 400px auto;
  place-content: space-between;
  margin-bottom: 32px;
}
.main_banner .biginner .data_detail span {
  max-width: 300px;
  font-weight: 400;
  line-height: 1.6;
  font-size: 14px;
}
.main_banner .biginner .data_detail span:nth-child(2n) {
  text-align: right;
}
.main_banner .biginner .data_detail div {
  max-width: 300px;
  font-weight: 400;
  line-height: 1.6;
  font-size: 14px;
}
.main_banner .biginner .data_detail div:nth-child(2n) {
  text-align: right;
}
.main_banner .biginner .data_detail .authores {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.main_banner .biginner .data_detail .authores .authorename {
  display: flex;
  height: 100%;
}
.main_banner.blog_banner {
  position: relative;
}
.main_banner.blog_banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--ThemeHoverColor);
  opacity: 0.8;
  z-index: 1;
}

.cards {
  padding: 96px 0;
  padding-bottom: 0;
}

.cardslist {
  gap: 40px;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: normal;
  box-sizing: border-box;
}
.cardslist .carditem {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}
.cardslist .carditem .cardinner {
  overflow: hidden;
  border-radius: 8px;
  word-break: break-word;
  position: relative;
}
.cardslist .carditem .cardinner figure {
  margin: 0;
}
.cardslist .carditem .cardinner figure img {
  height: 375px;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}
.cardslist .carditem .cardinner .content {
  max-height: 94px;
  border-radius: 0 16px 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: max-height 0.4s ease-in-out;
  width: calc(100% - 24px);
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-right: 4px;
  background-color: #fff;
}
.cardslist .carditem .cardinner .content h3 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 16px 0 32px;
  padding-right: 12px;
  transition: margin 0.4s ease-in-out;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.4;
  font-size: 24px;
}
.cardslist .carditem .cardinner .content p {
  max-height: 127.3px;
  overflow-y: auto;
  padding-right: 12px;
  scrollbar-width: thin;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 16px;
}
.cardslist .carditem .cardinner .content p strong {
  font-weight: 700;
}
.cardslist .carditem .cardinner .content a {
  color: var(--themecolor);
  padding: 0;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.cardslist .carditem .cardinner .content a::after {
  content: "";
  width: 13px;
  height: 12px;
  background: url(./../../img/right-arrow_theme.png) no-repeat center;
  background-size: contain;
  margin-left: 8px;
  position: relative;
}
.cardslist .carditem .cardinner .content a:hover {
  color: var(--ThemeHoverColor);
}
.cardslist .carditem .cardinner .content:hover {
  max-height: 100%;
}
.cardslist .carditem .cardinner .content:hover h3 {
  display: block;
  margin: 0 0 8px;
}

.icon_cards {
  padding-top: 96px;
}
.icon_cards .heaidng_dd {
  max-width: 758px;
  margin: 0 auto;
}
.icon_cards h4 {
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 24px;
  text-align: center;
}

.icon_cards_inner {
  gap: 40px;
  display: flex;
  flex-wrap: nowrap;
  align-items: normal;
}
.icon_cards_inner .icon_card_item {
  flex-basis: 0;
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.icon_cards_inner .icon_card_item figure {
  margin: 0;
  padding-bottom: 24px;
}
.icon_cards_inner .icon_card_item figure svg {
  height: 72;
  width: 72;
}
.icon_cards_inner .icon_card_item h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 16px;
}
.icon_cards_inner .icon_card_item p {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.vid_blk {
  padding: 96px 0;
  padding-bottom: 0;
}
.vid_blk .block_cover {
  position: relative;
  overflow: clip;
  align-items: center;
  background-position: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 40px 96px 64px;
}
.vid_blk .block_cover > img {
  border: none;
  bottom: 0;
  box-shadow: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  outline: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
.vid_blk .block_cover .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}
.vid_blk .block_cover .container .vid_inner {
  background-color: #fff;
  border: 28px solid #fff;
  border-radius: 32px;
  box-shadow: 0 0 5px 2px rgba(80, 88, 113, 0.25);
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}
.vid_blk .block_cover .container .vid_inner .external_video_container {
  aspect-ratio: 16/10.5;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.vid_blk .block_cover .container .vid_inner .external_video_container .thumb {
  inset: 0;
  position: absolute;
}
.vid_blk .block_cover .container .vid_inner .external_video_container .thumb img {
  filter: brightness(50%);
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}
.vid_blk .block_cover .container .vid_inner .external_video_container .vid_btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  inset: 0;
  justify-content: center;
  position: absolute;
  transition: opacity 0.5s ease-in;
}
.vid_blk .block_cover .container .vid_inner .external_video_container .vid_btn button {
  background: 0 0;
  border: none;
  cursor: pointer;
  height: 64px;
  pointer-events: all;
  width: 64px;
}
.vid_blk .block_cover .container .vid_inner .external_video_container .vid_btn button img {
  transition: scale 0.4s, opacity 0.4s;
  height: 64px;
  width: 64px;
}
.vid_blk .block_cover .container .vid_inner .video-container {
  margin: 0 auto;
  width: 100%;
}
.vid_blk .block_cover .container .vid_inner .js-video {
  height: 567px;
  width: 100%;
  background: #dedede;
  position: relative;
}
.vid_blk .block_cover .container .vid_inner .play {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vid_blk .block_cover .container .vid_inner .play img {
  cursor: pointer;
}
.vid_blk .block_cover .container .vid_inner .video-poster {
  background-repeat: no-repeat !important;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: bottom;
}
.vid_blk .block_cover .container .vid_inner .js-video iframe {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%;
}

.img_with_content {
  padding: 96px 48px;
  margin-top: 96px;
  background-color: var(--ThemeLightColor);
  position: relative;
}
.img_with_content img {
  left: calc(50% - 20px + 40px);
  right: unset;
  width: auto;
  height: 100%;
  max-height: none;
  max-width: none;
  -o-object-fit: cover;
     object-fit: cover;
  outline: none;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}
.img_with_content .content {
  width: 100%;
  position: relative;
}
.img_with_content .content .content_inner {
  max-width: 536px;
}
.img_with_content .content .content_inner h2 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.02em;
}
.img_with_content .content .content_inner p {
  font-size: 16px;
  margin: 0;
  margin-bottom: 24px;
}
.img_with_content .content .content_inner a {
  font-size: 16px;
  background-color: var(--themecolor);
  color: #fff;
  border: 1px solid;
  border-color: transparent;
  padding: 16px 32px;
  border-radius: 12px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  align-items: center;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.2;
}
.img_with_content .content .content_inner a::after {
  content: "";
  width: 13px;
  height: 12px;
  background: url(./../../img/right-arrow.png) no-repeat center;
  background-size: contain;
  margin-left: 8px;
  position: relative;
}
.img_with_content .content .content_inner a:hover {
  background-color: var(--ThemeHoverColor);
}
.img_with_content.right img {
  left: clamp(-142px, (100vw - 1025px) * 0.2699 - 142px, -30px);
  margin-left: max(50vw - 720px, 0px);
  max-height: 100%;
  right: unset;
}
.img_with_content.right .container {
  max-width: 950px;
}
.img_with_content.right .container .content .content_inner {
  max-width: 440px;
  margin-left: auto;
}

.contactus_ {
  padding: 96px 0;
}
.contactus_ .container {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}
.contactus_ .container figure {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  align-self: center;
}
.contactus_ .container figure img {
  height: 100%;
  max-width: unset;
  vertical-align: middle;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contactus_ .container .content {
  padding: 0;
  grid-column: 2;
  grid-row: 1;
  word-break: break-word;
  align-self: center;
}
.contactus_ .container .content h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 24px;
}
.contactus_ .container .content p {
  font-size: 16px;
  margin: 0;
  margin-bottom: 24px;
}
.contactus_ .container .content a {
  font-size: 16px;
  background-color: var(--themecolor);
  color: #fff;
  border: 1px solid;
  border-color: transparent;
  padding: 16px 32px;
  border-radius: 12px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  align-items: center;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.2;
}
.contactus_ .container .content a::after {
  content: "";
  width: 13px;
  height: 12px;
  background: url(./../../img/right-arrow.png) no-repeat center;
  background-size: contain;
  margin-left: 8px;
  position: relative;
}
.contactus_ .container .content a:hover {
  background-color: var(--ThemeHoverColor);
}
.contactus_.bg_Color {
  background-color: var(--bgthemelightcolor);
  margin-top: 96px;
}
.contactus_.right .container figure {
  grid-column: 2;
}
.contactus_.right .container .content {
  grid-column: 1;
}

.contactus_fullimg {
  padding: 96px 48px;
  position: relative;
}
.contactus_fullimg img {
  border: none;
  bottom: 0;
  box-shadow: none;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  -o-object-fit: cover;
     object-fit: cover;
  outline: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.contactus_fullimg .content {
  width: 100%;
  position: relative;
}
.contactus_fullimg .content .content_inner {
  max-width: 536px;
}
.contactus_fullimg .content .content_inner h2 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.02em;
}
.contactus_fullimg .content .content_inner p {
  font-size: 16px;
  margin: 0;
  margin-bottom: 24px;
}
.contactus_fullimg .content .content_inner a {
  font-size: 16px;
  background-color: var(--themecolor);
  color: #fff;
  border: 1px solid;
  border-color: transparent;
  padding: 16px 32px;
  border-radius: 12px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  align-items: center;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.2;
}
.contactus_fullimg .content .content_inner a::after {
  content: "";
  width: 13px;
  height: 12px;
  background: url(./../../img/right-arrow.png) no-repeat center;
  background-size: contain;
  margin-left: 8px;
  position: relative;
}
.contactus_fullimg .content .content_inner a:hover {
  background-color: var(--ThemeHoverColor);
}
.contactus_fullimg.right .content .content_inner {
  max-width: 440px;
  margin-left: auto;
}

footer {
  background-color: var(--ThemeDarkColor);
  padding-top: 40px;
}
footer .footernav {
  gap: 40px;
  display: flex;
  padding-bottom: 32px;
  flex-wrap: nowrap;
  align-items: center;
}
footer .footernav .block_column {
  flex-basis: calc(50% - 20px) !important;
  flex-grow: 1;
}
footer .footernav .block_column:nth-child(2) {
  margin-top: 40px;
}
footer .footernav .block_column:last-child {
  justify-content: flex-end;
  display: flex;
}
footer .footernav .logo_social {
  max-width: 344px;
  margin: 0;
}
footer .footernav .logo_social .logo {
  max-width: 128px;
  margin-bottom: 16px;
}
footer .footernav .logo_social .logo a {
  display: inline-block;
  line-height: 0;
}
footer .footernav .logo_social .logo a img {
  height: 42px;
  width: auto;
}
footer .footernav .logo_social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-size: 24px;
  gap: 16px;
}
footer .footernav .logo_social ul li {
  background-color: var(--ThemeDarkColorContrast);
  color: #fff;
  margin: 0;
  display: block;
  height: auto;
  border-radius: 100%;
  transition: transform 0.1s ease;
}
footer .footernav .logo_social ul li a {
  padding: 0.25em;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: 0;
  transition: transform 0.1s ease;
}
footer .footernav .logo_social ul li a img {
  height: 1em;
  width: 1em;
}
footer .footernav .footernavbar ul {
  display: grid;
  gap: 16px 40px;
  grid-template-columns: repeat(2, calc(50% - 20px));
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footernav .footernavbar ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  align-items: center;
  border-bottom: 0.2em solid transparent;
  display: flex;
  color: #fff;
}
footer .footernav .footernavbar ul li a {
  color: #fff;
}
footer .footernav .kery figure {
  margin: 0;
}
footer .footernav .kery figure img {
  height: 100%;
  width: 160px;
  max-width: 100%;
  vertical-align: bottom;
}
footer .textet {
  font-size: 12px;
  margin: 0;
  margin-bottom: 24px;
  color: #fff;
}
footer .textet_long {
  font-size: 12px;
  margin: 0;
  margin-bottom: 64px;
  color: #fff;
}
footer .footer_bottom {
  padding-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  width: 100%;
}
footer .footer_bottom .navigation_block nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer_bottom .navigation_block nav ul li {
  margin-right: 20px;
}
footer .footer_bottom .navigation_block nav ul li:last-child {
  margin-right: 0;
}
footer .footer_bottom .navigation_block nav ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}
footer .footer_bottom p {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
}

.banner_text {
  padding: 64px 0;
  background-color: var(--bgthemelightcolor);
}
.banner_text h1 {
  font-size: 52px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin: 0;
}

.imgtext_section {
  padding-top: 96px;
}
.imgtext_section .imgtext_section_inner {
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid-template-rows: auto;
}
.imgtext_section .imgtext_section_inner .image_di {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}
.imgtext_section .imgtext_section_inner .image_di img {
  height: auto;
  max-width: unset;
  vertical-align: middle;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.imgtext_section .imgtext_section_inner .content {
  direction: ltr;
  grid-column: 2;
  grid-row: 1;
  padding: 0;
  word-break: break-word;
  align-self: center;
}
.imgtext_section .imgtext_section_inner .content h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 16px;
}
.imgtext_section .imgtext_section_inner .content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 16px;
}
.imgtext_section .imgtext_section_inner .content p:last-child {
  margin-bottom: 0;
}
.imgtext_section .imgtext_section_inner .content ul {
  margin: 0;
  padding: 0;
}
.imgtext_section .imgtext_section_inner .content ul li {
  list-style-position: inside;
  margin-bottom: 24px;
}
.imgtext_section .imgtext_section_inner .content ul li:last-child {
  margin-bottom: 0;
}
.imgtext_section .imgtext_section_inner .content a {
  font-size: 16px;
  background-color: var(--themecolor);
  color: #fff;
  border: 1px solid;
  border-color: transparent;
  padding: 16px 32px;
  border-radius: 12px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  align-items: center;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.2;
}
.imgtext_section .imgtext_section_inner .content a::after {
  content: "";
  width: 13px;
  height: 12px;
  background: url(./../../img/right-arrow.png) no-repeat center;
  background-size: contain;
  margin-left: 8px;
  position: relative;
}
.imgtext_section.right .imgtext_section_inner .image_di {
  grid-column: 2;
}
.imgtext_section.right .imgtext_section_inner .content {
  grid-column: 1;
}

.cookie_content {
  max-width: 730px;
  margin: 0 auto;
  padding: 72px 16px 96px;
}
.cookie_content h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 32px;
}
.cookie_content p {
  font-size: 16px;
  word-break: break-word;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 32px;
}
.cookie_content a {
  color: var(--themecolor);
}
.cookie_content table {
  margin-bottom: 32px;
  min-width: 600px;
  border-collapse: collapse;
  width: 100%;
}
.cookie_content table thead {
  border-bottom: 0;
}
.cookie_content table thead th {
  border: 1px solid;
  border-color: #c3c8cd;
  color: #353b41;
  padding: 12px;
  background-color: #f0f1f3;
  text-align: left;
  word-break: normal;
}
.cookie_content table thead th:first-child, .cookie_content table thead th:nth-child(3):last-child {
  width: 25%;
}
.cookie_content table tbody td {
  border: 1px solid;
  border-color: #c3c8cd;
  color: #353b41;
  padding: 12px;
  word-break: normal;
}

.fade-in-left {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  opacity: 0;
  translate: -20% 0;
  animation-name: fade-in-left;
}

.fade-in-up {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  opacity: 0;
  translate: 0 20%;
  animation-name: fade-in-up;
}

.heaidng_dd {
  text-align: center;
}
.heaidng_dd h2 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.02em;
}
.heaidng_dd p {
  font-size: 16px;
  margin: 0;
  margin-bottom: 40px;
}

.responsive_table {
  overflow-x: auto;
}

.banner_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 318px;
  padding: 32px 48px;
  background: var(--themebannertitle);
  color: #fff;
}

.banner_title h2 {
  font-size: 52px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.blogs_main {
  padding: 72px 0 96px;
}
.blogs_main .filtersblog {
  width: 100%;
  padding-bottom: 48px;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}
.blogs_main .filtersblog .searchform {
  flex: 1;
  align-items: center;
  display: flex;
  width: 100%;
  min-width: 200px;
  padding-left: 0;
  position: relative;
}
.blogs_main .filtersblog .searchform input {
  background-color: #fff;
  border: 1.5px solid #c3c8cd;
  border-radius: 12px;
  color: #6a7682;
  margin: 2px;
  font: inherit;
  padding: 1em 3em 1em 1em;
  width: 100%;
  padding-left: 3em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}
.blogs_main .filtersblog .searchform input::-moz-placeholder {
  font-size: 14px;
  color: #c3c8cd;
  font-weight: normal;
}
.blogs_main .filtersblog .searchform input::placeholder {
  font-size: 14px;
  color: #c3c8cd;
  font-weight: normal;
}
.blogs_main .filtersblog .searchform .search_submit {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  display: flex;
  padding: 1em;
  background-color: transparent;
  border: none;
  bottom: 0;
  color: #6a7682;
  left: 0;
  position: absolute;
  top: 0;
}
.blogs_main .filtersblog .searchform .search_submit svg {
  fill: currentColor;
  pointer-events: none;
}
.blogs_main .filtersblog .filter_type[data-type=select] {
  min-width: 248px;
  position: relative;
}
.blogs_main .filtersblog .filter_type[data-type=select] select {
  width: 100%;
  padding: 1em 3em 1em 1em;
  padding-right: 3em;
  background-color: #fff;
  border: 1.5px solid #c3c8cd;
  border-radius: 12px;
  color: #6a7682;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  height: 49px;
}
.blogs_main .filtersblog .filter_type[data-type=select] .dropdown-icon {
  position: static;
}
.blogs_main .filtersblog .filter_type[data-type=select] .dropdown-icon::before {
  color: #6a7682;
  content: "";
  background: url(./../../img/down-arrow.png) no-repeat center;
  font-size: 24px;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
}
.blogs_main .filtersgroupwrapper {
  display: none;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.blogs_main .filtersgroupwrapper .activetag {
  width: auto;
}
.blogs_main .filtersgroupwrapper .activetag .activetaginner {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.blogs_main .filtersgroupwrapper .activetag .activetaginner .selected-option {
  background-color: #f0f1f3;
  border-radius: 56px;
  gap: 8px;
  padding: 12px 16px;
  transition: background-color 0.4s ease-in-out;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  align-items: center;
  cursor: pointer;
  display: flex;
}
.blogs_main .filtersgroupwrapper .activetag .activetaginner .selected-option .close {
  color: #6a7682;
  align-items: center;
  aspect-ratio: 1/1;
  background: #e1e4e6;
  border-radius: 50%;
  display: flex;
  height: 1.6em;
  justify-content: center;
  line-height: 1;
  position: relative;
}
.blogs_main .filtersgroupwrapper .activetag .activetaginner .selected-option .close::after {
  content: "✕";
  left: 50%;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
}
.blogs_main .filtersgroupwrapper .resetfilter button {
  background-color: transparent;
  border: none;
  height: inherit;
  padding: 5px;
  transition: color 0.4s ease-in-out;
  color: #6a7682;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 400;
  line-height: 1.2;
  font-size: 14px;
  border-radius: unset;
  cursor: pointer;
}

.card_listed .card_listed_inner {
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  width: auto;
  display: grid;
}
.card_listed .card_listed_inner .card_listed_item a {
  color: #15181a;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
  height: 100%;
  overflow: hidden;
  transition: box-shadow 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
}
.card_listed .card_listed_inner .card_listed_item a .img_pro {
  height: 250px;
}
.card_listed .card_listed_inner .card_listed_item a .img_pro img {
  height: 250px;
  aspect-ratio: 1/1;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
.card_listed .card_listed_inner .card_listed_item a .content_pro {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  background-color: #fff;
  flex-grow: 1;
  gap: 8px;
}
.card_listed .card_listed_inner .card_listed_item a .content_pro .boxes__group_wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 8px;
}
.card_listed .card_listed_inner .card_listed_item a .content_pro .boxes__group_wrapper .box_term {
  background-color: var(--bgthemelightcolor);
  border-radius: 12px;
  color: var(--themecolor);
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.4;
  text-transform: uppercase;
}
.card_listed .card_listed_inner .card_listed_item a .content_pro .boxes__group_wrapper .box_date {
  color: #15181a;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}
.card_listed .card_listed_inner .card_listed_item a .content_pro h2 {
  color: var(--themecolor);
  transition: color 0.4s ease-in-out;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.4;
  font-size: 20px;
  margin: 0;
}
.card_listed .card_listed_inner .card_listed_item a .content_pro .read_time {
  color: #15181a;
  font-weight: 400;
  line-height: 1.6;
  font-size: 14px;
}
.card_listed .card_listed_inner .card_listed_item a .content_pro .readmore_btn {
  align-items: center;
  color: var(--themecolor);
  display: flex;
  margin-top: auto;
  transition: color 0.4s ease-in-out;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}
.card_listed .card_listed_inner .card_listed_item a .content_pro .readmore_btn::after {
  content: "";
  background: url(./../../img/right-arrow_theme.png) no-repeat center;
  background-size: contain;
  width: 16px;
  height: 13px;
  font-size: 0.8em;
  margin-left: 0.9em;
  position: relative;
  transition: translate 0.4s ease-in-out;
}
.card_listed .card_listed_inner .card_listed_item a:hover .content_pro .readmore_btn::after {
  translate: 8px;
}

.more_filter {
  display: none;
}
.more_filter a {
  color: var(--themecolor);
  text-decoration: underline;
  font-weight: 600;
}

.blog_details {
  display: flex;
  justify-content: space-between;
  max-width: 920px;
  margin: 0 auto;
  padding-bottom: 96px;
  padding-top: 96px;
}
.blog_details .shairng {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 24px;
  padding-right: 12px;
}
.blog_details .shairng .icon button, .blog_details .shairng .icon a {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: #e57200;
  color: #fff;
  box-shadow: none;
  text-decoration: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog_details .shairng .icon button svg, .blog_details .shairng .icon a svg {
  height: 1em;
  min-height: 20px;
  min-width: 20px;
  width: 1em;
}
.blog_details .shairng .icon.sharing_icon .sharing_icon_list {
  transition: height 0.4s ease-in;
  height: 0;
  overflow: hidden;
}
.blog_details .shairng .icon.sharing_icon .sharing_icon_list.show {
  height: 224px;
}
.blog_details .shairng .icon.sharing_icon .sharing_icon_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.blog_details .shairng .icon.sharing_icon .sharing_icon_list ul li {
  padding-top: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
}
.blog_details .shairng .icon.sharing_icon .sharing_icon_list ul li a {
  font-size: 20px;
  padding: 6px 3px 0;
  transition: background-color 0.4s ease-in-out;
  background: #15181a;
  border-radius: 6px;
  color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
}
.blog_details .shairng .icon.sharing_icon .sharing_icon_list ul li a svg {
  height: 1em;
  min-height: 20px;
  min-width: 20px;
  width: 1em;
}
.blog_details .detail_ {
  max-width: 728px;
}
.blog_details .detail_ h2 {
  margin: 0;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.02em;
}
.blog_details .detail_ p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin: 40px 0;
}
.blog_details .detail_ figure {
  margin: 0;
}
.blog_details .detail_ figure img {
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_details .detail_ .vid_blk {
  padding: 0;
}
.blog_details .detail_ .vid_blk .block_cover {
  padding: 0;
}
.blog_details .detail_ .vid_blk .block_cover .container {
  padding: 0;
}
.blog_details .detail_ .vid_blk .block_cover .container .vid_inner {
  border: none;
  border-radius: unset;
}
.blog_details .detail_ .vid_blk .block_cover .container .vid_inner .js-video {
  height: 409px;
}

@media screen and (max-width: 1200px) {
  .card_listed .card_listed_inner {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .main_banner {
    padding: 56px 17px;
  }
  .mini_header ul li {
    margin-left: 16px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 640px) {
  .mini_header .container {
    padding: 0 32px;
  }
  header .container {
    padding: 0 32px;
  }
  .navbarmenu.change {
    margin-right: -16px;
  }
}
@media screen and (max-width: 1200px) {
  .main_container.blurred {
    filter: blur(10px);
  }
  .rightbtn {
    position: fixed;
    bottom: 0;
    width: 360px;
    z-index: 999;
    right: 0px;
    padding: 16px 16px;
    border-top: 1px solid #ddd;
    display: none;
  }
  .rightbtn a {
    width: -moz-fit-content;
    width: fit-content;
  }
  .rightbtn.active {
    display: block;
  }
  .navbarmenu {
    display: block;
    height: 26px;
    margin: 17px 0;
    overflow: hidden;
    position: relative;
    transition: width 0.3s ease-in;
    width: 38px;
    z-index: 9999;
    margin-left: auto;
    padding: 0px;
    color: currentColor;
    cursor: pointer;
  }
  .navbarmenu span {
    position: static;
  }
  .navbarmenu span::before {
    border-radius: 4px;
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    right: 0;
    transition: background-color 0.3s ease-in, rotate 0.3s ease-in, translate 0.3s ease-in, width 0.3s ease-in;
    top: 0;
    transform-origin: right top;
    width: 88%;
    background-color: #15181a;
    height: 3px;
  }
  .navbarmenu span::after {
    border-radius: 4px;
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    right: 0;
    transition: background-color 0.3s ease-in, rotate 0.3s ease-in, translate 0.3s ease-in, width 0.3s ease-in;
    bottom: 0;
    transform-origin: right top;
    width: 60%;
    background-color: #15181a;
    height: 3px;
  }
  .navbarmenu::after {
    border-radius: 4px;
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    right: 0;
    transition: background-color 0.3s ease-in, rotate 0.3s ease-in, translate 0.3s ease-in, width 0.3s ease-in;
    top: 50%;
    translate: 0 -50%;
    width: 88%;
    background-color: #15181a;
    height: 3px;
  }
  .navbarmenu.change {
    margin-right: 0;
  }
  .navbarmenu.change::after {
    display: none;
  }
  .navbarmenu.change span:before {
    rotate: -46deg;
    scale: 1.2 1;
    translate: -3px -2px;
    display: block;
    width: 70%;
  }
  .navbarmenu.change span:after {
    rotate: 46deg;
    scale: 1.2 1;
    translate: 0 1px;
    display: block;
    width: 88%;
  }
  header {
    position: relative;
  }
  header .logo.sided {
    position: absolute;
    right: 236px;
    z-index: 9999;
  }
  header .container {
    height: 80px;
    justify-content: flex-end;
  }
  .mini_header {
    position: relative;
    z-index: 91;
  }
  header .navbar nav {
    display: none;
    height: 100vh;
    position: fixed;
    border: none;
    top: 0;
    right: 0;
    z-index: 999;
    transition: all 0.5s;
    max-width: 360px;
    min-width: 360px;
    background-color: #fff;
    overflow-y: auto;
    flex-direction: column;
    padding: 60px 0 16px;
  }
  header .navbar nav ul {
    display: block;
    margin-top: 70px;
    border-top: 1px solid #ddd;
    padding: 0 16px;
    padding-top: 20px;
  }
  header .navbar nav ul li {
    margin-right: 0;
    margin-bottom: 12px;
    height: auto;
  }
  header .navbar nav ul li a .arrow {
    background: url(../../img/down.png) right -5px top -3px no-repeat;
  }
  header .navbar nav ul li a .arrow.up {
    background: url(../../img/up.png) right -5px top -3px no-repeat;
  }
  header .navbar nav ul li.btn a {
    margin-left: 0;
  }
  header .navbar nav ul li.menu-item-has-children:hover > .sub-menu {
    display: none;
  }
  header .navbar nav .sub-menu.show {
    display: block;
  }
  header nav.active {
    display: block;
  }
  header nav ul li.menu-item-has-children .sub-menu {
    display: none;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    padding: 0;
    background: transparent;
    background-color: transparent;
    padding-top: 3px;
  }
  header nav ul li.menu-item-has-children .sub-menu li {
    margin-bottom: 0;
    background: transparent;
    padding: 0;
    padding-top: 6px;
  }
  header nav ul li.menu-item-has-children .sub-menu li a {
    display: block;
    padding: 8px 14px;
    font-size: 16px;
    padding-right: 0;
    padding-left: 15px;
    border-bottom: none;
  }
  header nav ul li.menu-item-has-children .sub-menu li:last-child a {
    padding-bottom: 0;
  }
  header nav ul li.menu-item-has-children .sub-menu .sub-menu li a {
    font-size: 16px;
  }
  header nav ul li.menu-item-has-children .sub-menu.show {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .cardslist {
    gap: 32px;
    flex-wrap: wrap;
  }
  .cardslist .carditem {
    flex-basis: 100%;
  }
  .cardslist .carditem .cardinner .content {
    max-height: -moz-max-content;
    max-height: max-content;
  }
  .cardslist .carditem .cardinner .content h3 {
    font-size: 20px;
  }
  .img_with_content {
    padding: 56px 16px;
    padding-bottom: 0;
    margin-top: 56px;
    flex-direction: column-reverse;
    display: flex;
  }
  .img_with_content img {
    left: 0;
    position: relative;
    width: 100%;
    margin: 0;
  }
  .img_with_content .container {
    padding: 0 0;
  }
  .img_with_content .content .content_inner h2 {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .img_with_content .content .content_inner a {
    margin-bottom: 32px;
  }
  .img_with_content.right img {
    left: 0;
    position: relative;
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .main_banner {
    padding: 24px 8px;
    min-height: auto;
  }
  .main_banner.blog_banner {
    padding: 56px 8px;
  }
  .main_banner .biginner h1 {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .main_banner .biginner .breadcrumb_ {
    margin-bottom: 32px;
  }
  .main_banner .biginner .sub_head h3 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .main_banner .biginner .data_detail {
    grid-template-columns: auto;
    display: flex;
    flex-direction: column;
  }
  .main_banner .biginner .data_detail span:nth-child(2n) {
    text-align: left;
    font-weight: 600;
    order: 1;
  }
  .main_banner .biginner .data_detail div:nth-child(2n) {
    text-align: left;
    order: 2;
  }
  .main_banner .content {
    padding: 24px 16px;
  }
  .main_banner .content h1 {
    font-size: 36px;
    line-height: 1.2;
  }
  .cards {
    padding: 56px 0;
    padding-bottom: 0;
  }
  .heaidng_dd h2 {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: normal;
  }
  .heaidng_dd p {
    margin-bottom: 32px;
  }
  .icon_cards {
    padding-top: 56px;
  }
  .icon_cards h4 {
    font-size: 18px;
    letter-spacing: normal;
  }
  .icon_cards_inner {
    gap: 32px;
    flex-wrap: wrap;
  }
  .icon_cards_inner .icon_card_item {
    flex-basis: 100%;
  }
  .icon_cards_inner .icon_card_item h3 {
    font-size: 20px;
    letter-spacing: normal;
    line-height: 1.4;
  }
  .vid_blk {
    padding-top: 56px;
  }
  .vid_blk .block_cover {
    padding: 16px;
  }
  .vid_blk .block_cover .container {
    padding: 0 0;
  }
  .vid_blk .block_cover .container .vid_inner {
    border: 10px solid #fff;
    border-radius: 12px;
  }
  .vid_blk .block_cover .container .vid_inner .js-video {
    height: 250px;
  }
  .vid_blk .block_cover .container .vid_inner .video-poster {
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
  }
  .contactus_ {
    padding: 56px 0;
  }
  .contactus_ .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }
  .contactus_ .container .content {
    margin-right: auto;
  }
  .contactus_ .container .content h2 {
    font-size: 28px;
  }
  .contactus_fullimg {
    padding: 56px 0;
  }
  .contactus_fullimg .content .content_inner h2 {
    font-size: 28px;
  }
  footer {
    padding-top: 32px;
  }
  footer .footernav {
    gap: 32px;
    padding-bottom: 24px;
    flex-wrap: wrap;
  }
  footer .footernav .block_column {
    flex-basis: 100% !important;
  }
  footer .footernav .block_column:nth-child(2) {
    margin-top: 0;
  }
  footer .footernav .block_column:last-child {
    justify-content: flex-start;
  }
  footer .textet_long {
    margin-bottom: 40px;
  }
  footer .footer_bottom {
    gap: 32px;
  }
  .imgtext_section {
    padding-top: 56px;
  }
  .imgtext_section .imgtext_section_inner {
    gap: 32px;
    display: flex;
    flex-direction: column;
  }
  .imgtext_section .imgtext_section_inner .image_di {
    order: 2;
  }
  .imgtext_section .imgtext_section_inner .content h2 {
    font-size: 28px;
    letter-spacing: normal;
    line-height: 1.2;
  }
  .imgtext_section .imgtext_section_inner .content a {
    font-size: 14px;
    padding: 12px 24px;
  }
  .contactus_.bg_Color {
    margin-top: 56px;
  }
  .banner_text {
    padding: 40px 0;
  }
  .banner_text h1 {
    font-size: 36px;
  }
  .cookie_content {
    max-width: 730px;
    margin: 0 auto;
    padding: 40px 16px 56px;
  }
  .cookie_content h2 {
    font-size: 28px;
  }
  .card_listed .card_listed_inner {
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  .more_filter {
    top: 56px;
    z-index: 2;
    width: 100%;
    order: 1;
    display: flex;
    justify-content: flex-end;
  }
  .blogs_main .filtersblog {
    position: relative;
  }
  .blogs_main .filtersblog .filter_type[data-type=select] {
    min-width: 100%;
    display: none;
    order: 2;
  }
  .banner_title h2 {
    font-size: 36px;
  }
  .blogs_main {
    padding-bottom: 56px;
    padding-top: 40px;
  }
  .blogs_main .filtersblog {
    padding-bottom: 32px;
    gap: 16px;
  }
  .blogs_main .filtersgroupwrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    order: 3;
  }
  .blog_details {
    flex-direction: column;
    padding-bottom: 56px;
    padding-top: 56px;
  }
  .blog_details .shairng {
    flex-direction: row;
  }
  .blog_details .shairng .icon.sharing_icon {
    display: flex;
  }
  .blog_details .shairng .icon.sharing_icon .sharing_icon_list {
    height: auto;
    transition: width 0.4s ease-in;
    width: 0;
    display: flex;
    align-items: center;
  }
  .blog_details .shairng .icon.sharing_icon .sharing_icon_list ul {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-left: 16px;
  }
  .blog_details .shairng .icon.sharing_icon .sharing_icon_list ul li {
    padding-top: 0;
  }
  .blog_details .shairng .icon.sharing_icon .sharing_icon_list.show {
    height: auto;
    width: 240px;
  }
  .blog_details .detail_ h2 {
    font-size: 28px;
  }
  .blog_details .detail_ p {
    font-size: 16px;
    margin: 32px 0;
  }
  .blog_details .detail_ .vid_blk .block_cover .container .vid_inner .js-video {
    height: 213px;
  }
}/*# sourceMappingURL=main.css.map */