// GLOBAL STYLE
@use './_variables';
// @import '../../assets/css/slick.css';
// @import '../../assets/css/slick-theme.css';

body {
  font-family: variables.$ThemfontFamily;
  margin: 0px;
  overflow-x: hidden;
  &.overflow {
    overflow: hidden;
  }
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
  padding: 0px 15px;
  &.small_container {
    max-width: 870px;
  } 
}
@media screen and (max-width:992px) {
  .container {
    padding: 0px 16px;
  }
}

// THEME HEADING SIZE
h1 {
  font-size: 38px;
  font-weight: 400;
}
h2 {
  font-size: 38px;
  font-weight: 400;
  font-family: variables.$ThemfontFamily;
}
h3 {
  font-size: 35px;
  font-weight: 400;
  font-family: variables.$ThemfontFamily;
}
h4 {
  font-size: 28px;
  font-weight: 400;
  font-family: variables.$ThemfontFamily;
}
h5 {
  font-size: 24px;
  font-weight: 400;
}
h6 {
  font-size: 22px;
  font-weight: 400;
}
p {
  color: variables.$ThemeLEBlackColor;
  font-size: 16px;
  font-family: variables.$ThemfontFamily;
}
a {
  text-decoration: none;
}

// placeholder
::-webkit-input-placeholder {
  color: variables.$ThemeLEBlackColor;
  font-weight: 400;
  font-size: 24px;
  opacity: 1;
  font-family: variables.$ThemfontFamily;
}
:-ms-input-placeholder {
  color: variables.$ThemeLEBlackColor;
  font-weight: 400;
  font-size: 24px;
  opacity: 1;
  font-family: variables.$ThemfontFamily;
}
::placeholder {
  color: variables.$ThemeLEBlackColor;
  font-weight: 400;
  font-size: 22px;
  opacity: 1;
  font-family: variables.$ThemfontFamily;
}

// INPUT & TEXTAREA
input:not([type='submit']),
textarea {
  background: variables.$WhiteColor;
  font-family: variables.$ThemfontFamily;
  font-size: 24px;
  letter-spacing: 0.01em;
  color: variables.$ThemeLEBlackColor;
  @include variables.transition(all ease 0.3s);
  border: 0px;
  font-weight: 300;
  width: 100%;
  padding: 13px 15px;
  &:focus {
    outline: 0px;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  font-size: 24px;
  letter-spacing: 0.01em;
  color: variables.$ThemeLEBlackColor;
}
textarea {
  height: 200px;
  resize: vertical;
}
.btn {
  font-size: 14px;
  line-height: normal;
  color: variables.$ThemeColor;
  text-decoration: none;
  @include variables.transition(all ease 0.2s);
  text-transform: capitalize;
  padding: 17px 50px;
  text-align: center;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  i{
        margin-left: 5px;
        font-size: 14px;
  }
  &:hover {

  }
}
.btn-primary{
  background-color: variables.$ThemeColor;
  color: variables.$WhiteColor;
}
.btn-outline{
  background-color: transparent;
  color: variables.$ThemeLEBlackColor;
  border: 1px solid variables.$ThemeLEBlackColor;
  &:hover{
    background-color: variables.$ThemeLEBlackColor;
    color: #fff;
  }
}

.overflow-hidden{
  overflow: hidden;
}



.wpcf7-spinner {
  display: none;
  &[style='visibility: visible;'] {
    display: inline-block;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
::selection {
  background-color: variables.$ThemeColor;
  color:variables.$WhiteColor ;
}

::-moz-selection {
  background-color: variables.$ThemeColor;
  color: variables.$WhiteColor;
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    translate: -20%;
  } 
  100% {
    opacity: 1;
    translate: 0;
  }
}
@keyframes fade-in-up{
    0% {
          opacity: 0;
          translate: 0 20%;
      }
    
      100% {
            opacity: 1;
            translate: 0;
      }
}

